/* 기본 설정 */
* {
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
}

body {
    background-color: white;
}

.frame {
    position: absolute;
    width: 1440px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: black; */
}


    /* 상단부 */
    .top {
        position: absolute;
        width: 100%;
        height: 150px;
        background: #C0DDFF;
    }
    ._top {
        width: 100%;
        height: 150px;
        background: #C0DDFF;
    }
    
    .home {
        position: absolute;
        left: 20px;
        top: 25px;
        width: 200px;
        height: 100px;
        background: url("Pic_homeicon_200x100.png");
    }

    /* 페이지 제목 */
h2 {
    position: relative;
    width: auto;
    height: auto;
    margin-top:20px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.1em;
    color: #2A8CFF;
}

.line {
    position: relative;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #2A8CFF;
}

/* bottom section*/
.ST {
    position: relative;
    width: 100%;
    height: 480px;
    /* background-color: aqua; */
}

    /* side botton section */
.Sect_sideBt {
    position: relative;
    float: left;
    width: 150px;
    left: 20px;
}
.Sect_sideBt> a {
    display: block;
    width: 100%;
    height: 45px;
    left: 0;
    margin-bottom: 30px;
    border-radius: 20px;
    background: white;
    border: 3px solid #2A8CFF;

    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: rgba(42, 140, 255, 0.85);
}
.Sect_sideBt> .pwBt {
    background-color: #2A8CFF;
    color: white;
}

    /* input section */
.Sect_form {
    position: absolute;
    width: 400px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* background: palevioletred; */
}

.Sect_form> div {
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    /* background-color: red; */
}

.Sect_form> div> p {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}

.Sect_form> div> input {
    width: 100%;
    height: 50px;
}

.Sect_form> .button> input {
    position: relative;
    height: 60px;
    margin-top: 30px;
    background: #2A8CFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: white;
    font-size: 24px;
    line-height: 60px;
}